* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00202fc2, #686903);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(105px, auto) repeat(5, 80px);
}

.calculator-grid button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;

}

.output {
    grid-column: 1 / -1;
    background-color: rgba(29, 29, 29, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    color: white;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous_operand {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, .8);
}

.output .current_operand {
    font-size: 2.5rem;
}
